@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400&family=Rubik+Bubbles&family=Sono:wght@400;600&family=Xanh+Mono:ital@1&display=swap');
::-moz-selection {
    color: #76E571;
 }
 ::selection {
    color: #76E571;
 }
 .title::-moz-selection {
    color:#363B48;
 }
 .title::selection {
    color:#363B48;
 }
body{
    background-color: #F1FAAA;
    color:#363B48;
    font-family: 'Archivo', sans-serif;
    font-weight:300;

}
.wrap{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
}
.navigation_bar{
    display:flex;
    flex-direction: row;
    margin-bottom: 5%;
    font-size:1.9em;
    font-weight:300;
    padding:1% 1% 1% 2%;
}
.course_name{
    display:flex;
    flex-direction: row;
    flex: 1 1;
}
.column_1{   
    display:flex;
    flex-direction: row;
    flex: 1.2 1.2;
}
.column_2{   
    display:flex;
    flex-direction: row;
    flex: 1 1;
}
.column_2_left{
    display:flex;
    flex-direction:column; 
    flex: 1.1 1.1; 
}
.column_2_left_row1{
    display:flex; 
    flex: 0.65 0.65;
}
.column_2_left_row2{
    display:flex; 
    flex: 1 1;
    flex-direction: column;
    justify-content:flex-start;
    text-decoration : 2pt underline;
    color:#363B48;
    
 a:link {
    color : #363B48;
  }
  a:visited {
    color : #363B48;
  }
  a:hover {
    color : #363B48;
    text-decoration: none;
  }
  a:active {
    color : #363B48;
  }
}
.column_2_right{
    display:flex;
    flex-direction: row; 
    flex: 1 1;
}
.navigation{
    display:flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-between;
    padding-right:2%;
}
.title{
    display:flex;
    flex: 1.4 1.4;
    font-size:17em;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    padding-left:1%;
}
.contents{
    display:flex;
    flex: 1 1;
    font-size:1.9em;
    line-height: 1.3em;
    padding-left:2%;
    justify-content: space-between;
}

/*schedule*/
a{text-decoration : none;color:#363B48;}
a:hover {
    color : #363B48;
    text-decoration: 2pt underline;
  }
  h1{
    justify-content: space-between;
    font-weight: 300;
    font-size:1em;
    border-bottom: 2pt solid;
    display: block;
}
 h2{
    justify-content: space-between;
    font-weight: 300;
    font-size:1em;

    display: block;
}

h2 span {
    justify-content: space-between;
    font-weight: 300;
    font-size:1em;
    text-decoration: 2pt underline;
}
.project_detail{
    margin-right:3.5%;
}
.table{
    width:100vw;
      margin-right: 3%;
     
    a:hover {
        color : #363B48;
        text-decoration: none;
      }
      
}
h1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #363B48;
    width: 100%; 
}

h1 a span {
    margin-left: 1%;
}

h1 a .class-name {
    margin-right: 20px;
}

h1 a .date {
    flex-grow: 1;
}

h1 a .toggle-sign {
    margin-left: auto;
    margin-right:1%;
}

.myDIV{
    line-height:1.4em ;
    margin-left:1%;
    display: block;
}
.contents2{
    display:flex;
    flex: 1 1;
    font-size:1.9em;
    line-height: 1.3em;
    padding-left:2%;
    justify-content: space-between;
}

/*students*/
.students div {
    font-size:1.3em;
    margin-bottom: 5%; 
    text-decoration: 2pt underline solid #363B48; 
}

.students{
    margin-top: 1.5%; 
   
}

/*projects*/
.projects div {
    margin-top: 6%; 
    font-size:1.6em;
    a:hover {
        color : #363B48;
        text-decoration: 2.5pt underline;
      }
}

.project_description{
    margin-right:30%;
}

.lecture{
    margin-bottom: 5%;
}


.under{text-decoration: 2pt underline;}