@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400&family=Rubik+Bubbles&family=Sono:wght@400;600&family=Xanh+Mono:ital@1&display=swap');
::-moz-selection {

    color: #76E571;
 }
 ::selection {

    color: #76E571;
 }


 .title::-moz-selection {

    color:#363B48;
 }
 .title::selection {

    color:#363B48;
 }
body{
    background-color: #F1FAAA;
    color:#363B48;
    font-family: 'Archivo', sans-serif;
    
}
.wrap{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.navigation_bar{
    display:flex;
    flex-direction: row;
    flex: 0.15 0.15;
    font-size:1.9em;
    font-weight:300;
    padding:1% 1% 1% 2%;
}
.course_name{
    display:flex;
    flex-direction: row;
    flex: 1 1;
}
.coloumn_1{   display:flex;
    flex-direction: row;
    flex: 1.2 1.2;
}
.coloumn_2{   display:flex;
    flex-direction: row;
    flex: 1 1;
   
}
.coloum_2_left{display:flex;flex-direction: column; flex: 1.1 1.1; }
.coloum_2_left_row1{display:flex; flex: 0.65 0.65;}
.coloum_2_left_row2{display:flex; flex: 1 1;flex-direction: column;justify-content:flex-start;text-decoration : none;color:#363B48;
    
 a:link {
    color : #363B48;
  }
  a:visited {
    color : #363B48;

  }
  a:hover {
    color : #363B48;
    text-decoration: none;


  }
  a:active {
    color : #363B48;

  }}
.coloum_2_right{display:flex;flex-direction: row; flex: 1 1;}
.navigation{
    display:flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-between;
    padding-right:2%;
}
.title{
    display:flex;
    flex: 1.4 1.4;
    font-size:17em;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    padding-left:1%;
}
.contents{
    display:flex;
    flex: 1 1;
    font-size:1.9em;
    line-height: 1.3em;
    padding-left:2%;
    justify-content: space-between;
}


